<h2>List of all articles that you can read</h2>
<table>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
        <td><%= link_to 'Show', article %></td>
        <!--td><%= link_to 'Edit', edit_article_path(article) %></td-->
        <!--td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--%= link_to 'New Article', new_article_path %-->
<h2> Recommended articles</h2>
<% articles=get_recos %>
<table>
<% articles.each do |artcl| %>
<tr>
    <td><%= artcl.name %></td><td><%= link_to 'Show', artcl %></td>
</tr>
<% end %>
</table>
