<p>Be the next sought after Security guru by reading through our site's deep knowledge base!</p>

<!--form>
<table>
<tr>
<td>Username :</td><td><input type="text" name="username"></td> <br>
</tr>
  <tr>
<td>Email    : </td><td><input type="text" name="email"></td><br>
  </tr>
  <tr>
<td>Password :</td><td><input type="password" name="pwd"></td> <br>
  </tr>
  <tr>
<td><input type="submit" value="Submit"></td>
  </tr>
</table>
</form-->

<%= form_tag({controller: "users", action: "create"}, method: "post", class: "new_user_form") do %>
	<%= label_tag(:name, "Username:") %>
	<%= text_field_tag(:name) %>
	<br>
	<%= label_tag(:email, "Email:") %>
	<%= text_field_tag(:email) %>
	<br>
	<%= label_tag(:pwd, "Password:") %>
	<%= password_field_tag(:pwd) %>
	<br>
	<%= submit_tag("submit") %>
<% end %>

