<!DOCTYPE html>
<html>
<head>
  <title>BeTheNextSchneier.com</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div align="right">
<% if signed_in? %>
<%= link_to "Sign out", signout_path, method: "delete" %>
<% else %>
  <br>
<% end %>
</div>
<h1>BeTheNextSchneier.com</h1>
<hr>
<%= yield %>

</body>
</html>
